$bg-primary: #f6f7f8;
$bg-secondary: #fff;

$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.54);

$btn-bg-primary: #ffdd2d;
$btn-bg-primary-hover: #fcc521;
$btn-bg-primary-active: #fab619;
